/*******************************
            Global
*******************************/
html, body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  
}

.ui.cortopo {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.7);
}
.ui.inverted.cortopo {
  background-color: rgba(34, 173, 50, 0.9);
  color: #FFFFFF;
}

.ui.corlateral {
  background-color: rgba(89, 143, 223, 0.9);
  color: #FFFFFF;
}

.ui.inverted.corlateral {
  background-color: rgba(51, 64, 84, 1);
  color: #FFFFFF;
}

.ui.corrodape {
  background-color: rgba(89, 143, 223, 0.9);
  color: #FFFFFF;
}

.ui.inverted.corrodape {
  background-color: rgba(52, 101, 58, 1);
  color: #FFFFFF;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*******************************
            Global

/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 1000px) {
  #feed .inbox .date {
    float: none;
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width : 600px) {
  .esconder{
    display:none !important;
  }
}

@media only screen and (max-width : 1250px) {
  /*rtl:ignore*/
  #feed .left.column > .menu .item {
    font-size: 1rem;
  }
}

#wrap {height: auto; min-height: 100%;}

#conteudoConteiner {
    margin: 5px;
    overflow:auto;
    padding-bottom: 150px;
}

.textoLongo{
  font-family: "Helvetica Neue",Helvetica,Arial;
  padding-left: 40px !important;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

.ui-tooltip{
  background: rgba(200, 200, 200, 0.9) !important;
  border: 2px solid white !important;
}
.ui-tooltip {
  padding: 10px 10px !important;
  color: green !important;
  border-radius: 10px !important;
  font: bold 13px "Helvetica Neue", Sans-Serif !important;
  box-shadow: 0 0 7px black !important;
}

/**
select{
  margin: 0;
  padding: .65em 1em;
  font-size: 1em;
  background-color: #FFF;
  border: 1px solid rgba(0,0,0,.15);
  height: 40px;
}
**/
a {
  color: #009FDA;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #00BAFF;
}

#subconteudo{
  width: 100%;
}

/* igreja plus css */

.cotemGraficos {

   width: 1250px;
   margin: 0 auto;
}

@media only screen and (max-width : 1270px) {
 .cotemGraficos {
    width: 820px;
    margin: 0 auto;
  } 
}

@media only screen and (max-width : 840px) {
 .cotemGraficos {
    width: 420px;
    margin: 0 auto;
  } 
}

.divGraficos {
  float:left; 
  width: 400px; 
  margin: 4px !important;
}

@media only screen and (max-width : 450px) {
  .divGraficos {
    float:left; 
    width: 300px; 
    margin:2px;
  }

 .cotemGraficos {
    width: 320px;
    margin: 0 auto;
  } 

}

.btnTabela:hover {
  cursor: pointer;
}

.divForm {
  width:auto; 
  max-width: 450px; 
  float: left; 
  margin: 10px;
}

.divForm2 {
  width:auto;
  max-width: 450px;
}

@media only screen and (max-width : 1013px) {
  .divForm {
    width: 90% !important; 
    float: center;
  }
}

@media (min-width: 460px) {
  .divForm {
    width:450px !important;
  }
}